.container-lg form {
	margin: 0 auto;
	width: fit-content;
}

body{
	background: linear-gradient(180deg, #050505, #0D0D0D);
}
body::before{
	background: linear-gradient(135deg, #8B0000, #FF1E1E);
}

.btn{
	background-color: rgb(170, 27, 27);
	color: aliceblue;
	border: none;
	}
.btn:hover{
	background-color: aliceblue;
	color: rgb(185, 6, 6);
}
